.App {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;  
    /* padding: 1rem 0.5rem; */
  }

.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}

section {
    width: 100%;
    /* max-width: 420px; */
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 1rem; */
    /* background-color: rgba(0,0,0,0.4); */
}