.ReactModalPortal > div {
    opacity: 0;
}
// .ReactModalPortal > 
.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $light-blue;
    color: white;
    // max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title {
    margin: 0 0 $m-size 0;
}

.modal__content {
    background-color: white;
    width: 100%;
    height: 40rem;
}

.modal__body {
    margin: 0 0 $l-size 0;
    font-size: 2rem;
    font-weight: 300;
    word-break: break-all;
}